extends ../layout

block content
  h1 Books
  p
    a.button(href='/books/new') Create New Book
  p Filters
    a(href='/books')  All |
    a(href='/books/?filter=overdue')  Overdue |
    a(href='/books/?filter=checked_out')  Checked Out

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      tr
        td
          a(href='/books/detail') Harry Potter and the Philosopher's Stone
        td J.K. Rowling
        td Fantasy
        td 1997
      //- each book in books
      //-   tr
      //-     td
      //-       a(href='/books/detail') #{title}
      //-     td= author
      //-     td= genre
      //-     td= year_released