- const { searchResult, list } = search;
if searchResult
    a.button.full-list(href=pageUrl) Return to Full List
else
  form.search(method='get')
    h3 Search #{list}
    div.search-container
      select(name='keyword')
        option(value='') Keyword
        if list === 'books'
          include ./options_books
        else if list === 'patrons'
          include ./options_patrons
      input(name='input')
      input(type='submit' value='Search')