form(method='get')
  p
    label(for='search_patrons') Search Patrons
    select#search(name='search_patrons')
      option(value='') Please select a search field

    input#search_input(name='search_input')