body {
  padding: 50px;
  font: 18px "Garamond", serif;
  background-color: #ccc;
}
a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
}
  a:hover {
    color: black;
  }
a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
form a.button, input[type=submit] {
  margin-left: 140px;
}
input[type=submit] {
  border: 0;
}
  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }
p {
  margin: 20px auto;
}
ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}
nav {
  border-bottom: 2px solid #D8B493;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 7px;
}
  nav ul li:after {
    content: " | ";
  }
  nav ul li:last-child:after {
    content: none;
  }
h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}
th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}
tr {
  min-height: 50px;
}
tr .button {
  background-color: #4b6a88;
  padding: 4px 8px 5px;
  font-weight: normal;
}
  tr .button:hover {
    background-color: #547798;
  }
tr:nth-child(2n) {
  background: #E7E7E7;
}
td {
  padding: 5px 20px 5px 10px;
}
label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
}
input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  border-color: #E7E7E7;
}
input[type=text], select {
  margin-left: 10px;
}

.title-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
}

.title-header h1 {
  margin: 0;
}

.title-header a.button {
  margin-left: 1.5rem;
}

a.full-list {
  display: inline-block;
  margin: 2rem 0;
}


a.active-link {
  color: #333;
}

/* ===== Errors ===== */

.errors {
  color: #c0392b;
}

.errors-bd {
  border: 2px solid #c0392b;
}

/* ===== Pagination ===== */

.pagination-cell {
  text-align: center;
}

.pagination-cell .button {
  margin-left: .25rem;
}

.pagination-cell .button:first-of-type {
  margin-left: 0;
}

.pagination-cell .button.active {
  background-color: #019875;
}

.pagination-cell .button.active:hover {
  background-color: #01b189;
}

/* ===== Search ===== */

form.search {
  margin-top: 2rem;
}

form .search-container {
  display: flex;
  margin-bottom: 1.5rem;
}

form.search select {
  margin-left: 0;
  margin-right: .5rem;
  font-size: .85rem;
}

form.search input[type=submit] {
  margin-left: 1rem;
}